<div class="main">
    <div style="margin-top: 20px;">
        <div class="row">
            <div class="col-3">
                <!-- <div class="sidenav">
                    <button>Bolovi</button>
                    <button>Upala grla</button>
                    <button>Nervni sistem</button>
                    <button>Cirkulacija</button>
                    <button>Digestivi</button>
                </div> -->
                <div class="sidenav">
                    <button>Akne</button>
                    <button>Higijena lica</button>
                    <button>Hidratacija</button>
                    <button>Anti-age</button>
                    <button>Osjetljiva koža</button>
                    <button>Suva i atopijska koža</button>
                    <button>Masna koža</button>
                    <button>Hiperpigmentacija</button>
                </div>
            </div>
            <div class="col-9">
                <h2>Medicinska kozmetika</h2>

                <div id="medicine-box" class="row" style="margin-right: 10px;">
                    <div class="box">
                        <div class="row">
                            <div class="col-5">
                                <img class="image" src="assets/eucerin6.jpg" alt="Center">
                            </div>
                            <div class="col-7">
                                <h5>Eucerin DermoPure Gel</h5>
                                <p class="about">Eucerin DermoPure Gel za čišćenje kože je preparat za svakodnevnu
                                    upotrebu, bez sapuna i mirisa, pogodan za masnu i problematičnu kožu. Sa 6%
                                    amfo-tenzida, nežno, ali efikasno uklanjanje nečistoće, šminku i eliminiše višak
                                    sebuma. Njegovo antibakterijsko svojstvo oslabađa kožu od bakterija i zaustavlja
                                    njihovo razmnožavanje, a pošto je nekomedogen, ne zapušava pore.</p>
                                <h6>Sastojci</h6>
                                <p>
                                    Voda, Sodium Cocoamphoacetate, Propylene Glycol, Sodium Laureth Sulfate, Sodium
                                    Chloride, Citric Acid, Sodium Benzoate, Salicylic Acid
                                </p>
                                <button>Detalji</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="medicine-box" class="row" style="margin-right: 10px;">
                    <div class="box">
                        <div class="row">
                            <div class="col-5">
                                <img class="image" src="assets/eucerin2.jpg" alt="Center">
                            </div>
                            <div class="col-7">
                                <h5>Eucerin DermoPure Piling</h5>
                                <p class="about">Eucerin DermoPure Piling sadrži formulaciju bez ulja, sa mlečnom
                                    kiselinom. Dluje direktno na mestu problema bez isušivanja kože. Pogodan za lice i
                                    telo, mikročestice za čišćenje pora nežno skidaju izumrle ćelije sa kože, ne
                                    oštećujući je. Blago čisti kožu i uklanja šminku.

                                    Pore su očišćene, količina nečistoće i mitisera je smanjena, a koža je primetno
                                    čistija i nežnija nakon tretmana.

                                    Preparat je posebno formulisan za masnu i problematičnu kožu koja nije na
                                    medikamentoznoj terapiji akni. Pogodan je za korišćenje tokom trudnoće.</p>
                                <h6>Sastojci</h6>
                                <p>
                                    Voda, Coco Glucoside, Coco-Betaine, Microcrystalline Cellulose,
                                    Acrylates-C10-30-Alkyl-Acrylate-Crosspolymer, Lactic Acid, Sodium Chloride, Sodium
                                    Hydroxide, Cellulose, Mannitol, Polyquaternium-10, Sodium Benzoate, Phenoxyethanol,
                                    Benzophenone-4, Parfum, CI 77289
                                </p>
                                <button>Detalji</button>

                            </div>
                        </div>
                    </div>
                </div>


                <div id="medicine-box" class="row" style="margin-right: 10px;">
                    <div class="box">
                        <div class="row">
                            <div class="col-5">
                                <img class="image" src="assets/eucerin3.jpg" alt="Center">
                            </div>
                            <div class="col-7">
                                <h5>Rapidol Menstrual 200mg</h5>
                                <p class="about">Lek Brufen sadrži aktivnu supstancu ibiprofen, koja pripada grupi
                                    lekova
                                    poznatih
                                    pod
                                    nazivom nesteroidni antiinflamatorni lekovi (NSAIL).
                                    Lek Brufen se može koristiti za kratkotrajnu simptomatsku terapiju blagog do
                                    umerenog
                                    bola kao
                                    što
                                    su zubobolja, menstrualni bolovi, neuralgija i glavobolja (uključujući migrenu),
                                    bolovi
                                    u
                                    mišićima i
                                    zglobovima, bolovi u leđima.</p>

                            </div>
                        </div>
                    </div>
                </div>

                <div id="medicine-box" class="row" style="margin-right: 10px;">
                    <div class="box">
                        <div class="row">
                            <div class="col-5">
                                <img class="image" src="assets/eucerin4.jpg" alt="Center">
                            </div>
                            <div class="col-7">
                                <h5>Rapidol Menstrual 200mg</h5>
                                <p class="about">Lek Brufen sadrži aktivnu supstancu ibiprofen, koja pripada grupi
                                    lekova
                                    poznatih
                                    pod
                                    nazivom nesteroidni antiinflamatorni lekovi (NSAIL).
                                    Lek Brufen se može koristiti za kratkotrajnu simptomatsku terapiju blagog do
                                    umerenog
                                    bola kao
                                    što
                                    su zubobolja, menstrualni bolovi, neuralgija i glavobolja (uključujući migrenu),
                                    bolovi
                                    u
                                    mišićima i
                                    zglobovima, bolovi u leđima.</p>

                            </div>
                        </div>
                    </div>
                </div>

                <div id="medicine-box" class="row" style="margin-right: 10px;">
                    <div class="box">
                        <div class="row">
                            <div class="col-5">
                                <img class="image" src="assets/eucerin5.jpg" alt="Center">
                            </div>
                            <div class="col-7">
                                <h5>Rapidol Menstrual 200mg</h5>
                                <p class="about">Lek Brufen sadrži aktivnu supstancu ibiprofen, koja pripada grupi
                                    lekova
                                    poznatih
                                    pod
                                    nazivom nesteroidni antiinflamatorni lekovi (NSAIL).
                                    Lek Brufen se može koristiti za kratkotrajnu simptomatsku terapiju blagog do
                                    umerenog
                                    bola kao
                                    što
                                    su zubobolja, menstrualni bolovi, neuralgija i glavobolja (uključujući migrenu),
                                    bolovi
                                    u
                                    mišićima i
                                    zglobovima, bolovi u leđima.</p>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>