<div class="main">
    <div style="margin-top: 20px;">
        <div class="row">
            <div class="col-3">
                <div class="sidenav">
                    <button>Lijekovi za srce</button>
                    <button>Lijekovi za grlo</button>
                    <button>Lijekovi za pritisak</button>
                    <button>Antidepresivi</button>
                </div>
            </div>
            <div class="col-9">
                <h2>Opšti lijekovi</h2>

                <div class="row" style="margin-right: 10px;">
                    <div class="box">
                        <div class="row">
                            <div class="col-5">
                                <img class="image" src="assets/brufen.jpg" alt="Center">
                            </div>
                            <div class="col-7">
                                <h5>Brufen 400mg</h5>
                                <p class="about">Lek Brufen sadrži aktivnu supstancu ibiprofen, koja pripada grupi
                                    lekova
                                    poznatih
                                    pod
                                    nazivom nesteroidni antiinflamatorni lekovi (NSAIL).
                                    Lek Brufen se može koristiti za kratkotrajnu simptomatsku terapiju blagog do
                                    umerenog
                                    bola kao
                                    što
                                    su zubobolja, menstrualni bolovi, neuralgija i glavobolja (uključujući migrenu),
                                    bolovi
                                    u
                                    mišićima i
                                    zglobovima, bolovi u leđima.</p>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-right: 10px;">
                    <div class="box">
                        <div class="row">
                            <div class="col-5">
                                <img class="image" src="assets/rapidolS.jpg" alt="Center">
                            </div>
                            <div class="col-7">
                                <h5>Rapidol Menstrual 200mg</h5>
                                <p class="about">Lek Brufen sadrži aktivnu supstancu ibiprofen, koja pripada grupi
                                    lekova
                                    poznatih
                                    pod
                                    nazivom nesteroidni antiinflamatorni lekovi (NSAIL).
                                    Lek Brufen se može koristiti za kratkotrajnu simptomatsku terapiju blagog do
                                    umerenog
                                    bola kao
                                    što
                                    su zubobolja, menstrualni bolovi, neuralgija i glavobolja (uključujući migrenu),
                                    bolovi
                                    u
                                    mišićima i
                                    zglobovima, bolovi u leđima.</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>