<div class="main">
    <div style="overflow: hidden;">
        <h2>Moj centar</h2>
        <div style="margin: 40px;" class="row">
            <div id="col-6-bottom" class="col-6">
                <div class="box">
                    <img class="image" src="assets/eucerin6.jpg" alt="Centar">
                    <h5>Eucerin DermoPure Gel</h5>
                    <p>
                        Eucerin DermoPure Gel za čišćenje kože je preparat za svakodnevnu
                        upotrebu, bez sapuna i mirisa, pogodan za masnu i problematičnu kožu. Sa 6%
                        amfo-tenzida, nežno, ali efikasno uklanjanje nečistoće, šminku i eliminiše višak
                        sebuma. Njegovo antibakterijsko svojstvo oslabađa kožu od bakterija i zaustavlja
                        njihovo razmnožavanje, a pošto je nekomedogen, ne zapušava pore.
                    </p>

                    <h6>Sastojci</h6>
                    <p>
                        Voda, Sodium Cocoamphoacetate, Propylene Glycol, Sodium Laureth Sulfate, Sodium
                        Chloride, Citric Acid, Sodium Benzoate, Salicylic Acid
                    </p>




                </div>
            </div>
            <div id="col-6-bottom" class="col-6">
                <div class="box">
                    <!-- <div class="row">

                        <div class="col-6">
                            <label for="name">Naziv:</label>
                        </div>
                        <div class="col-6">
                            <input type="text" value="Institut za transfuziju krvi Vojvodine">
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label for="email">E-mail adresa:</label>
                        </div>
                        <div class="col-6">
                            <input type="text" value="inst@gmail.com">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label for="address">Adresa:</label>
                        </div>
                        <div class="col-6">
                            <input type="text" value="Zmaj Jovina 5">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label for="city">Grad:</label>
                        </div>
                        <div class="col-6">
                            <input type="text" value="Novi Sad">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label for="country">Država:</label>
                        </div>
                        <div class="col-6">
                            <input type="text" value="Srbija">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label for="phone">Broj telefona:</label>
                        </div>
                        <div class="col-6">
                            <input type="text" value="+381 11 244 323">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label for="country">Radno vrijeme:</label>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="col-2">
                                    <label for="from">Od:</label>
                                </div>
                                <div class="col-4">
                                    <input type="text" value="07">
                                </div>
                                <div class="col-2">
                                    <label for="to">Do:</label>
                                </div>
                                <div class="col-4">
                                    <input type="text" value="19">
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label for="capacity">Kapacitet centra:</label>
                        </div>
                        <div class="col-6">
                            <input type="text" value="5">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label style="margin-bottom: -10px;" for="description">Opis centra:</label>
                        </div>
                        <div class="col-6">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <textarea name="description" id="description"
                                rows="6">Misija Instituta za transfuziju krvi Srbije je da realizuje aktivnosti na omasovljenju davalaštva krvi. Promoviše dobrovoljno, anonimno i nenagrađeno davalaštvo krvi, obezbjeđuje dovoljne količine sigurne krvi i produkata od krvi za potrebe lečenja građana, pruža laboratorijske i terapijske zdravstvene usluge usaglašene sa zahtjevima, potrebama i očekivanjima korisnika, edukuje transfuziologe i transfuziste za potrebe cijele naše zemlje.</textarea>
                        </div>
                    </div> -->

                    <div class="row">
                        <div class="col-6">
                            <label>Nezaštićeni naziv lijeka:</label>
                        </div>
                        <div class="col-6">
                            <input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label>Generički naziv:</label>
                        </div>
                        <div class="col-6">
                            <input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label>Farmaceutski oblik:</label>
                        </div>
                        <div class="col-6">
                            <select>
                                <option value="Obične_tablete">Obične tablete</option>
                                <option value="Šumeće_tablete">Šumeće tablete</option>
                                <option value="Film_tablete">Film tablete</option>
                                <option value="Kapsule">Kapsule</option>
                                <option value="Sirupi">Sirupi</option>
                                <option value="Praškovi">Praškovi</option>
                                <option value="Kreme">Kreme</option>
                                <option value="Masti">Masti</option>
                                <option value="Gelovi">Gelovi</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label style="margin-bottom: -10px;">Maksimalna dozvoljena doza:</label>
                        </div>
                        <div class="col-6">

                        </div>
                    </div>
                    <div class="row">
                        <div id="col-2-add" class="col-2">
                            <label>Količina:</label>
                        </div>
                        <div id="col-4-sub" class="col-4">
                            <input>
                        </div>
                        <div id="col-2-add" class="col-2">
                            <label>Jedinica:</label>
                        </div>
                        <div id="col-4-sub" class="col-4">
                            <input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label style="margin-bottom: -10px;">Terapijske indikacije:</label>
                        </div>
                        <div class="col-6">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <textarea rows="3"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label style="margin-bottom: -10px;">Doziranje lijeka(djeca, odrasli,..):</label>
                        </div>
                        <div class="col-6">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <textarea rows="3"></textarea>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-6">
                            <label style="margin-bottom: -10px;">Interakcije lijeka:</label>
                        </div>
                        <div class="col-6">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <textarea rows="3"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label style="margin-bottom: -10px;">Kontraindikacije:</label>
                        </div>
                        <div class="col-6">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <textarea rows="3"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label style="margin-bottom: -10px;">Mehanizam djelovanja:</label>
                        </div>
                        <div class="col-6">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <textarea rows="3"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <label style="margin-bottom: -10px;">Doze:</label>
                        </div>
                        <div class="col-6">
                        </div>
                    </div>

                    <ul>
                        <li>
                            <div class="row">
                                <div id="col-2-delete" class="col-2">200 mg</div>
                                <div class="col-1">
                                    <button
                                        style="background-color: rgb(227, 104, 104); margin-top: -5px; width: auto; padding: 5px 10px;">
                                        <svg xmlns="http://www.w3.org/2000/s6g" width="16" height="16" fill="white"
                                            class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                            <path
                                                d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
                                        </svg>
                                    </button>
                                </div>
                                <div class="col-8"></div>
                            </div>
                        </li>

                        <li>
                            <div class="row">
                                <div id="col-2-delete" class="col-2">400 mg</div>
                                <div class="col-1">
                                    <button
                                        style="background-color: rgb(227, 104, 104); margin-top: -5px; width: auto; padding: 5px 10px;">
                                        <svg xmlns="http://www.w3.org/2000/s6g" width="16" height="16" fill="white"
                                            class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                            <path
                                                d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z" />
                                        </svg>
                                    </button>
                                </div>
                                <div class="col-8"></div>
                            </div>
                        </li>


                    </ul>

                    <div class="row">
                        <div id="add-col-2" class="col-2">
                            <label>Količina:</label>
                        </div>
                        <div id="add-col-2" class="col-2">
                            <input>
                        </div>
                        <div id="add-col-2" class="col-2">
                            <label>Jedinica:</label>
                        </div>
                        <div id="add-col-2" class="col-2">
                            <input>
                        </div>
                        <div id="add-col-2" class="col-2">
                            <button id="button-add"
                                style="background-color: rgb(121, 191, 121); width: auto; margin-top: 3px; padding: 7px 14px;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="white"
                                    class="bi bi-check-lg" viewBox="0 0 16 16">
                                    <path
                                        d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
                                </svg>
                            </button>
                        </div>
                    </div>




                    <div class="row">
                        <button>Izmijeni</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>